<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Themis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="vendors~index.build.js"></script>
</head>
<body>
    <v-app id='app' dark>
        <router-view></router-view>
    </v-app>

    <script src="index.build.js"></script>
</body>
</html>