<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Themis Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="vendors~admin~index~web.build.js"></script>
</head>
<body>
    <div id='app'>
    </div>

    <script src="web.build.js"></script>
</body>
</html>